<h1>Listing genres</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @genres.each do |genre| %>
  <tr>
    <td><%=h genre.name %></td>
    <td><%= link_to 'Show', genre %></td>
    <td><%= link_to 'Destroy', genre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New genre', new_genre_path %>
<br/>
<%= render_meteor_widget(::Meteor::Widget::CountdownTimer::Spec.new(:day => "02", :month => "09", :year => "2011"))%>

<%= render_meteor_widget(::Meteor::Widget::TestPlugin::Spec.new) %>
