<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'dhtml_calendar/dhtml_calendar' %>
  <%= stylesheet_link_tag 'dhtml_calendar/calendar-blue' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "in_place_select_editor" %>
  <%= javascript_include_tag 'in_place_date_editor' %>
  <%= javascript_include_tag 'dhtml_calendar/datebox_engine' %>
  <%= javascript_include_tag 'dhtml_calendar/calendar' %>
  <%= javascript_include_tag 'dhtml_calendar/lang/calendar-en' %>
  <%= javascript_include_tag 'dhtml_calendar/calendar-setup' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
